body {
  color: #ffffff;
  background-color: #222222;
  max-width: 40em;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.2em;
}
nav {
  border-bottom: 2px dotted #CCCCCC;
}
footer {
  padding-top: 0.5em;
  border-top: 2px solid #777777;
}
a {
  color: #DC98FF;
  text-decoration: none; 
}
.menu {
  padding-left: 2px;
  line-height: 0.1;
}
.menu li {
  display: inline-block;
}

.menu a {
  font-size: 1.1em;
}
.menu, footer {
  text-align: center;  
}
