body {
  color: #000000;
  background-color: #343434;
  max-width: 45em;
  margin: auto;
  padding: 1em;
  line-height: 1.45;
}
.menu {
  padding: 2px;
}
.menu li {
  display: inline-block; 
}

.menu a {
  font-size: 1.1em;
  padding: 1px;
}

.menu,footer {
  text-align: center; 
}

a {
  color: #DC98FF;
  text-decoration: none; 
}

hr {
  border-style: dashed;
  color: #CCCCCC;
}
