body {
  color: #000000;
  background-color: #DDDDDD;
  max-width: 45em;
  margin: auto;
  padding: 1em;
  line-height: 1.45;
}
a {
  color: #0000FF;
  text-decoration: none; 
}

h1 {
  text-align: center;
}

hr {
  border-style: dashed;
  color: #CCCCCC;
}
