body {
  color: #ffffff;
  background-color: #787878;
  max-width: 45em;
  margin: auto;
  padding: 1em;
  line-height: 1.45;
}
a {
  color: #DC98FF;
  text-decoration: none; 
}

h1 {
  text-align: center;
}

hr {
  border-style: dashed;
  color: #787878;
}
